body {
  padding-left: 5%;
  padding-right: 5%;
}

div {
  padding-top: 8px;
  padding-bottom: 8px;
}

textarea {
  font-size: 32px;
}

.input {
  resize: none;
  width: 100%;
  height: 250px;
}

.output {
  resize: none;
  width: 100%;
  height: 250px;
  background-color: #ebebff;
}
